body{
    background-color: #2acf24;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#title{
    background-image: url("images/bad5.jpg"); /*https://wallpaperaccess.com/full/6802493.jpg */
}
#title{
    background-attachment:fixed; 
    background-repeat:repeat; 
    background-size:cover;
    height:100vh;
    background-position:center;

}
#title h1{
    font-size:100px;
    font-weight:500;
    text-align: center;
    padding-top: 90px;
    color:#c7fff8;
    font-family:"Playfair Display","Open Sans", "sans-serif";
    opacity: 0.85;
}

#svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:1%;
  width:98%;
  height: 100vh;
  text-anchor: middle;
  stroke: #000000;
  stroke-width:3px;
  font-size: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #08cc53;
}
ellipse{
    fill: #EB431F;
    stroke-width: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}

line{
    stroke-width: 3px;
    stroke: #310d0d;

}
h2{
    font-size:30px;
    color:#000000;
    font-family:"Playfair Display","Open Sans", "sans-serif";
    font-weight:800;
    padding-left: 20px;
  }
  
  h1 {
    font-weight: 400;
    letter-spacing: 0.3rem;
    color: #000;
    font-size: 1.8rem;
    font-weight: 700;
  }
  
  p{
    font-size:16px;
    line-height: 25px;
    color: rgb(7, 7, 7);
    font-family:"Open Sans", Sans-serif;
  }
  .footer{
    padding: 100px 0px 20px;
    background: #697769;
    text-align: center;
  }    
  .footer h1 {
  
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 700;
  }
   
  p{
    font-size:16px;
    line-height: 25px;
    color: rgb(7, 7, 7);
    font-family:"Open Sans", Sans-serif;
  }
  .footer{
    padding: 100px 0px 20px;
    background: #697769;
    text-align: center;
  }    
  .footer h1 {
  
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 700;
  }