h1,h2{
	color:#000000;
	text-align: center;
	padding:5px;

}
table, th, td {
    border: 3px solid rgb(255, 255, 255);
    text-align: center;
    border-collapse: collapse;
    color:#000000;
    font-size:25px;
    
}
table{
      margin-right: auto;
      margin-left: auto;
      background-color: #3d72ad;
  }
  td {
    padding: 30px;
    
  }
  